# Importing necessary libraries

In [89]:
import pandas as pd
from faker import Faker
import random
from datetime import datetime, timedelta

fake = Faker()

# Parameters

In [90]:
# Parameters
num_employees = 200
num_courses = 15
num_enrollments = 10000
num_learning_paths = 5
num_metrics = 10000
num_progress_records = 10000
num_modules_per_course = 5

# Generating the tables

Generating the Employee/User table

In [91]:

# 1. Generate Employee Table
employee_data = {
    "employee_id": [f"EMP{str(i).zfill(3)}" for i in range(1, num_employees + 1)],  # Format: EMP001
    "name": [fake.name() for _ in range(num_employees)],
    "email": [fake.email() for _ in range(num_employees)],
    "password": [fake.password() for _ in range(num_employees)],
    "department": [random.choice(
        ['Web Developer',
      'Data Engineer',
      'Data Scientist',
      'AI Specialist',
      'DevOps Engineer',
      'Cybersecurity Specialist',
      'Mobile Developer',
      'UI/UX Designer',
      'Software Tester']) for _ in range(num_employees)],
    "created_at": [fake.date_time_this_year() for _ in range(num_employees)],
    "performance_score": [random.randint(0, 100) for _ in range(num_employees)],
}

employee_df = pd.DataFrame(employee_data)
print("\nEmployee Table:")
print(employee_df)

Employee Table:
    employee_id               name                         email    password  \
0        EMP001        Luke Parker       karajimenez@example.com  7g56FwVj8$
1        EMP002      James Frazier  rodriguezpatrick@example.net  eanF_Xvn&0
2        EMP003   Danny Richardson       juliecuevas@example.net  (_K9Exs36m
3        EMP004   Danielle Mcmahon      mariahstrong@example.net  I3SbPcnn*U
4        EMP005    Chelsea Watkins       jeffreygray@example.com  d)d8SFaNnh
..          ...                ...                           ...         ...
195      EMP196     Ashley Roberts       hoffmanjohn@example.org  *7AtbJg(TR
196      EMP197   Danielle Andrews          ncollins@example.net  k51IqsM_8(
197      EMP198       Carlos Jones           ktaylor@example.net  w@Llo4Hwj)
198      EMP199          Sean Kent        reyesbrian@example.org  f@$!g9EvFH
199      EMP200  Matthew Henderson        idougherty@example.net  lM)t3SiKz*

                   department          created_at  performance_score
0    Cybersecurity Specialist 2024-05-30 13:55:14                 72
1               AI Specialist 2024-04-13 23:49:39                 27
2            Mobile Developer 2024-06-14 14:02:16                 81
3               Data Engineer 2024-01-04 11:14:11                 12
4               AI Specialist 2024-09-11 17:00:42                 26
..                        ...                 ...                ...
195          Mobile Developer 2024-03-13 10:36:37                 83
196            Data Scientist 2024-04-18 15:33:55                 13
197             Web Developer 2024-08-17 19:31:32                 33
198             Web Developer 2024-06-28 06:30:57                  6
199  Cybersecurity Specialist 2024-03-08 13:49:48                  3

[200 rows x 7 columns]

Generating the Course table

In [92]:

# 2. Generate Course Data Table
course_data = {
    "course_id": [f"C{str(i).zfill(2)}" for i in range(1, num_courses + 1)],
    "title": random.sample([
        'Full-Stack Web Development',
        'Machine Learning Fundamentals',
        'Data Pipeline Development',
        'Introduction to Artificial Intelligence',
        'Continuous Integration and Continuous Deployment (CI/CD)',
        'Cybersecurity Fundamentals',
        'iOS App Development with Swift',
        'User Research and Testing Methods',
        'Automation Testing with Selenium',
        'Responsive Web Design Principles',
        'Deep Learning with TensorFlow',
        'Cloud Data Warehousing Solutions',
        'Ethical Hacking Techniques',
        'Prototyping with Figma',
        'Network Security and Firewalls',
    ], num_courses),  # Randomly select unique titles

    "description": [fake.text(max_nb_chars=200) for _ in range(num_courses)],
    "duration": [random.randint(1, 10) for _ in range(num_courses)],  # Duration in hours
    "modules": [num_modules_per_course for _ in range(num_courses)],
    "created_at": [fake.date_time_this_year() for _ in range(num_courses)],
    "tag": random.sample([
        'Web Development',
        'Data Engineering',
        'Data Science',
        'Generative AI',
        'DevOps',
        'Cybersecurity',
        'Mobile Development',
        'UI/UX Design',
        'Software Testing',
        'Machine Learning',
        'Cloud Computing',
        'Ethical Hacking',
        'Prototyping',
        'User Research',
        'Automation Testing',
    ], num_courses),  # Randomly select unique tags

    "imageUrl": [fake.image_url() for _ in range(num_courses)],
}

course_data_df = pd.DataFrame(course_data)
print("Course Data Table:")
print(course_data_df)

Course Data Table:
   course_id                                              title  \
0        C01                  User Research and Testing Methods
1        C02                   Responsive Web Design Principles
2        C03                         Full-Stack Web Development
3        C04            Introduction to Artificial Intelligence
4        C05                   Cloud Data Warehousing Solutions
5        C06  Continuous Integration and Continuous Deployme...
6        C07                      Deep Learning with TensorFlow
7        C08                   Automation Testing with Selenium
8        C09                         Cybersecurity Fundamentals
9        C10                      Machine Learning Fundamentals
10       C11                     iOS App Development with Swift
11       C12                             Prototyping with Figma
12       C13                          Data Pipeline Development
13       C14                     Network Security and Firewalls
14       C15                         Ethical Hacking Techniques

                                          description  duration  modules  \
0   Couple large affect senior. Her include school...         3        5
1   Lead short question word company. Six relation...         3        5
2   Senior public on anything red. Congress where ...         1        5
3   Political young analysis building foot with mu...         1        5
4   Least support after ever. Poor score same rela...         3        5
5   Trip arm past do instead section. Current true...        10        5
6   From air seven. Institution suggest will anyon...         3        5
7   Say whether Mr former woman itself protect. Pr...         9        5
8   Film enter foot. Oil toward radio only newspap...         6        5
9   Stay walk interview increase sea present.\nPap...         9        5
10  Enough painting to various staff poor. Treatme...        10        5
11  Southern buy feel wall executive stay discuss....         8        5
12  Rest break foreign improve. Stand stop leg eac...         5        5
13  Record human hit face attention. Those certain...         4        5
14  Serve state glass kind do plant open. Internat...         9        5

            created_at                 tag                         imageUrl
0  2024-01-31 11:15:38    Software Testing    https://picsum.photos/650/481
1  2024-02-06 13:09:58       Cybersecurity     https://picsum.photos/722/59
2  2024-07-25 00:56:21  Mobile Development   https://dummyimage.com/957x997
3  2024-09-08 14:59:41     Web Development    https://picsum.photos/133/646
4  2024-02-13 10:16:31     Cloud Computing   https://dummyimage.com/800x857
5  2024-03-29 04:21:44              DevOps   https://dummyimage.com/361x885
6  2024-03-30 16:03:35        Data Science     https://picsum.photos/290/74
7  2024-03-04 03:08:43    Data Engineering   https://dummyimage.com/860x422
8  2024-03-24 07:47:12         Prototyping  https://placekitten.com/238/146
9  2024-03-01 03:14:31       User Research    https://picsum.photos/127/154
10 2024-08-31 01:58:40        UI/UX Design     https://dummyimage.com/212x0
11 2024-03-11 20:05:45     Ethical Hacking   https://dummyimage.com/546x801
12 2024-07-14 04:45:57  Automation Testing   https://dummyimage.com/592x323
13 2024-02-04 08:09:37       Generative AI  https://placekitten.com/128/969
14 2024-02-12 09:22:40    Machine Learning    https://picsum.photos/736/758

Assigning the Modules for each course

In [93]:
# Predefined modules for each course
course_modules = {
    'Full-Stack Web Development': [
        'Module 1: HTML & CSS Basics',
        'Module 2: JavaScript Fundamentals',
        'Module 3: Front-End Frameworks (React/Angular)',
        'Module 4: Back-End Development with Node.js',
        'Module 5: Database Management with SQL'
    ],
    'Machine Learning Fundamentals': [
        'Module 1: Introduction to Machine Learning Concepts',
        'Module 2: Data Preprocessing and Cleaning',
        'Module 3: Supervised Learning Algorithms',
        'Module 4: Unsupervised Learning Techniques',
        'Module 5: Model Evaluation and Hyperparameter Tuning'
    ],
    'Data Pipeline Development': [
        'Module 1: Introduction to Data Pipelines',
        'Module 2: ETL Processes and Tools',
        'Module 3: Data Warehousing Concepts',
        'Module 4: Data Quality and Governance',
        'Module 5: Real-Time Data Processing'
    ],
    'Introduction to Artificial Intelligence': [
        'Module 1: Overview of AI and Machine Learning',
        'Module 2: Natural Language Processing Basics',
        'Module 3: Computer Vision Fundamentals',
        'Module 4: Robotics and AI Applications',
        'Module 5: Ethical Considerations in AI'
    ],
    'Continuous Integration and Continuous Deployment (CI/CD)': [
        'Module 1: Introduction to CI/CD Concepts',
        'Module 2: Version Control with Git',
        'Module 3: Automated Testing Strategies',
        'Module 4: Deployment Tools and Techniques',
        'Module 5: Monitoring and Feedback Loops'
    ],
    'Cybersecurity Fundamentals': [
        'Module 1: Introduction to Cybersecurity',
        'Module 2: Network Security Basics',
        'Module 3: Threats and Vulnerabilities',
        'Module 4: Security Policies and Compliance',
        'Module 5: Incident Response and Recovery'
    ],
    'iOS App Development with Swift': [
        'Module 1: Getting Started with Xcode',
        'Module 2: Swift Programming Basics',
        'Module 3: User Interface Design with SwiftUI',
        'Module 4: Working with APIs and Data',
        'Module 5: App Testing and Deployment'
    ],
    'User Research and Testing Methods': [
        'Module 1: Introduction to User Research',
        'Module 2: Qualitative vs. Quantitative Methods',
        'Module 3: Conducting User Interviews',
        'Module 4: Usability Testing Techniques',
        'Module 5: Analyzing and Presenting Findings'
    ],
    'Automation Testing with Selenium': [
        'Module 1: Introduction to Automation Testing',
        'Module 2: Setting Up Selenium Environment',
        'Module 3: Writing Test Cases with Selenium',
        'Module 4: Integrating with CI/CD Pipelines',
        'Module 5: Advanced Selenium Techniques'
    ],
    'Responsive Web Design Principles': [
        'Module 1: Introduction to Responsive Design',
        'Module 2: CSS Flexbox and Grid Layouts',
        'Module 3: Media Queries and Breakpoints',
        'Module 4: Mobile-First Design Approach',
        'Module 5: Testing and Optimization Techniques'
    ],
    'Deep Learning with TensorFlow': [
        'Module 1: Introduction to Deep Learning',
        'Module 2: Neural Networks Basics',
        'Module 3: Convolutional Neural Networks (CNNs)',
        'Module 4: Recurrent Neural Networks (RNNs)',
        'Module 5: Model Deployment with TensorFlow Serving'
    ],
    'Cloud Data Warehousing Solutions': [
        'Module 1: Introduction to Cloud Computing',
        'Module 2: Data Warehousing Concepts and Design',
        'Module 3: Cloud Providers Overview (AWS, GCP, Azure)',
        'Module 4: ETL in Cloud Environments',
        'Module 5: Querying and Analyzing Data in the Cloud'
    ],
    'Ethical Hacking Techniques': [
        'Module 1: Introduction to Ethical Hacking',
        'Module 2: Reconnaissance and Scanning Techniques',
        'Module 3: Exploitation and Post-Exploitation',
        'Module 4: Web Application Security Testing',
        'Module 5: Reporting and Documentation'
    ],
    'Prototyping with Figma': [
        'Module 1: Introduction to Figma Interface',
        'Module 2: Designing User Interfaces',
        'Module 3: Creating Interactive Prototypes',
        'Module 4: Collaboration and Feedback in Figma',
        'Module 5: Exporting and Handoff to Development'
    ],
    'Network Security and Firewalls': [
        'Module 1: Introduction to Network Security',
        'Module 2: Types of Firewalls and Their Configurations',
        'Module 3: VPNs and Secure Remote Access',
        'Module 4: Intrusion Detection and Prevention Systems',
        'Module 5: Security Policies and Best Practices'
    ],
}

Generating the Modules table

In [94]:

# 3. Generate Course Module Table
modules_data = []
for course_id in course_data['course_id']:
    # Find the index of the course_id
    index = int(course_id[1:]) - 1  # Extract the integer part and adjust for zero-based index
    course_title = course_data['title'][index]
    
    # Get the corresponding modules from the predefined dictionary
    if course_title in course_modules:
        for module_num, module_title in enumerate(course_modules[course_title], start=1):
            modules_data.append({
                "module_id": f"{course_id}_{module_num}",
                "course_id": course_id,
                "module_title": module_title,
                "module_content": fake.text(max_nb_chars=500),
                "module_duration": random.randint(1, 3),  # Duration in hours
                "is_completed": random.choice([True, False]),
                "created_at": fake.date_time_this_year(),
            })

modules_df = pd.DataFrame(modules_data)

print("Modules Data Table:")
modules_df.head()

Modules Data Table:

,module_id,course_id,module_title,module_content,module_duration,is_completed,created_at
0,C01_1,C01,Module 1: Introduction to User Research,Result organization concern. Expert interestin...,1,False,2024-05-29 18:45:20
1,C01_2,C01,Module 2: Qualitative vs. Quantitative Methods,Common anything political piece. Page watch so...,1,False,2024-07-11 19:49:46
2,C01_3,C01,Module 3: Conducting User Interviews,Feel seven discover. Perhaps space professor b...,3,False,2024-08-23 08:29:24
3,C01_4,C01,Module 4: Usability Testing Techniques,Involve lot reveal. Nothing carry east want ch...,3,False,2024-08-28 17:48:33
4,C01_5,C01,Module 5: Analyzing and Presenting Findings,Such yard account customer oil security. Situa...,3,False,2024-02-27 06:21:20

Generating the Enrollment/Assigning course table

In [95]:

# 4. Generate Course Enrollment Table


# First, generate the completion statuses
completion_statuses = [random.choice(['Not Started', 'In Progress', 'Completed']) for _ in range(num_enrollments)]

enrollment_data = {
    "enrollment_id": [i for i in range(1, num_enrollments + 1)],
    "employee_id": [random.choice(employee_df['employee_id']) for _ in range(num_enrollments)],
    "course_id": [random.choice(course_data_df['course_id']) for _ in range(num_enrollments)],
    "enrollment_date": [fake.date_time_this_year() for _ in range(num_enrollments)],
    "completion_status": completion_statuses,
    "completion_percentage": [],
    "completed_at": [],
    "score": [],
    "time_spent": [],
}

# Populate the data ensuring relative values
for status in completion_statuses:
    if status == 'Not Started':
        enrollment_data['completion_percentage'].append(0)
        enrollment_data['score'].append(0)
        enrollment_data['time_spent'].append(0)
        enrollment_data['completed_at'].append(None)
    elif status == 'Completed':
        # If completed, set percentage to 100%
        enrollment_data['completion_percentage'].append(100)
        enrollment_data['score'].append(random.uniform(70, 100))  # Score can also be set to 100
        enrollment_data['time_spent'].append(random.uniform(1, 720))  # Random time spent
        enrollment_data['completed_at'].append(fake.date_time_this_year())
    else:  # 'In Progress'
        # Generate a base completion percentage for in-progress courses
        completion_percentage = random.uniform(20.00, 99.99)  # Use a range below 100
        enrollment_data['completion_percentage'].append(completion_percentage)

        # Score is a function of completion percentage
        score = random.uniform(0.5, 1.0) * completion_percentage  # Score is between 50% and 100% of completion
        enrollment_data['score'].append(score)

        # Time spent is proportional to completion percentage
        time_spent = (completion_percentage / 100) * random.uniform(1, 720)  # Scale time based on percentage
        enrollment_data['time_spent'].append(time_spent)

        # Set completed_at to None for in-progress courses
        enrollment_data['completed_at'].append(None)

# Finalize the DataFrame
enrollment_df = pd.DataFrame(enrollment_data)
print("\nCourse Enrollment Table:")



enrollment_df.head()

Course Enrollment Table:

,enrollment_id,employee_id,course_id,enrollment_date,completion_status,completion_percentage,completed_at,score,time_spent
0,1,EMP181,C14,2024-05-25 19:23:08,Completed,100.000000,2024-09-11 11:34:43,94.630848,15.705828
1,2,EMP059,C15,2024-03-15 04:56:03,Not Started,0.000000,NaT,0.000000,0.000000
2,3,EMP130,C02,2024-05-24 09:52:08,Completed,100.000000,2024-03-14 07:05:49,83.496398,54.380622
3,4,EMP177,C11,2024-03-01 06:29:08,Completed,100.000000,2024-06-15 21:45:55,81.896863,22.315196
4,5,EMP186,C15,2024-01-14 22:17:50,In Progress,26.719092,NaT,24.349434,58.100019

In [96]:


enrollment_data_with_modules = {
    "enrollment_id": [],
    "employee_id": [],
    "course_id": [],
    "module_id": [],
    "enrollment_date": [],
    "completion_status": [],
    "completion_percentage": [],
    "completed_at": [],
    "score": [],
    "time_spent": [],
}

# Generate enrollment for each course and its modules
for _ in range(num_enrollments):
    course_id = random.choice(course_data_df['course_id'])
    module_ids = modules_df[modules_df['course_id'] == course_id]['module_id'].tolist()

    for module_id in module_ids:
        enrollment_data_with_modules['enrollment_id'].append(len(enrollment_data_with_modules['enrollment_id']) + 1)
        enrollment_data_with_modules['employee_id'].append(random.choice(employee_df['employee_id']))
        enrollment_data_with_modules['course_id'].append(course_id)
        enrollment_data_with_modules['module_id'].append(module_id)
        enrollment_data_with_modules['enrollment_date'].append(fake.date_time_this_year())
        
        # Generate completion status
        status = random.choice(['Not Started', 'In Progress', 'Completed'])
        enrollment_data_with_modules['completion_status'].append(status)

        # Populate relative values based on completion status
        if status == 'Not Started':
            enrollment_data_with_modules['completion_percentage'].append(0)
            enrollment_data_with_modules['score'].append(0)
            enrollment_data_with_modules['time_spent'].append(0)
            enrollment_data_with_modules['completed_at'].append(None)
        elif status == 'Completed':
            enrollment_data_with_modules['completion_percentage'].append(100)
            enrollment_data_with_modules['score'].append(random.uniform(70, 100))
            enrollment_data_with_modules['time_spent'].append(random.uniform(1, 720))
            enrollment_data_with_modules['completed_at'].append(fake.date_time_this_year())
        else:  # 'In Progress'
            completion_percentage = random.uniform(20.00, 99.99)
            enrollment_data_with_modules['completion_percentage'].append(completion_percentage)

            score = random.uniform(0.5, 1.0) * completion_percentage
            enrollment_data_with_modules['score'].append(score)

            time_spent = (completion_percentage / 100) * random.uniform(1, 720)
            enrollment_data_with_modules['time_spent'].append(time_spent)

            enrollment_data_with_modules['completed_at'].append(None)

# Finalize the DataFrame
enrollment_with_modules_df = pd.DataFrame(enrollment_data_with_modules)
print("\nCourse Enrollment Table with Module ID:")

enrollment_with_modules_df.head()

Course Enrollment Table with Module ID:

,enrollment_id,employee_id,course_id,module_id,enrollment_date,completion_status,completion_percentage,completed_at,score,time_spent
0,1,EMP141,C07,C07_1,2024-07-16 20:22:03,Completed,100.000000,2024-02-16 14:27:10,74.663887,403.141479
1,2,EMP031,C07,C07_2,2024-05-18 13:45:15,In Progress,82.586030,NaT,70.348024,162.124206
2,3,EMP059,C07,C07_3,2024-05-12 04:02:37,Not Started,0.000000,NaT,0.000000,0.000000
3,4,EMP106,C07,C07_4,2024-06-14 07:22:37,Not Started,0.000000,NaT,0.000000,0.000000
4,5,EMP183,C07,C07_5,2024-08-01 08:33:34,In Progress,64.910922,NaT,48.970264,338.183524

Generating the Performance table

In [97]:
# 5. Generate Performance Metrics Table
# Generate performance metrics data
performance_metrics_data = {
    "metric_id": [i for i in range(1, num_metrics + 1)],
    "employee_id": [random.choice(employee_df['employee_id']) for _ in range(num_metrics)],
    "course_id": [random.choice(course_data_df['course_id']) for _ in range(num_metrics)],
    "completion_rate": [],
    "average_score": [],
    "time_spent": [],
    "engagement_rate": [],
    "average_time_to_completion": [],
    "progress_rate": [],
    "recorded_at": [fake.date_time_this_year() for _ in range(num_metrics)],
}

# Populate the performance metrics ensuring logical relationships
for _ in range(num_metrics):
    # Randomly choose a completion rate for demonstration
    completion_rate = random.uniform(0, 100)
    performance_metrics_data["completion_rate"].append(completion_rate)

    # Average score could be influenced by the completion rate
    average_score = random.uniform(completion_rate * 0.5, completion_rate)  # Score is 50% to 100% of completion rate
    performance_metrics_data["average_score"].append(average_score)

    # Time spent can vary but should correlate with completion rate
    time_spent = (completion_rate / 100) * random.uniform(1, 720)  # Scale time based on completion rate
    performance_metrics_data["time_spent"].append(time_spent)

    # Engagement rate can be related to time spent
    engagement_rate = random.uniform(0, min(100, time_spent / 720 * 100))  # Scale engagement by time spent
    performance_metrics_data["engagement_rate"].append(engagement_rate)

    # Average time to completion could be similar to time spent
    average_time_to_completion = time_spent if completion_rate == 100 else random.uniform(1, time_spent)
    performance_metrics_data["average_time_to_completion"].append(average_time_to_completion)

    # Progress rate can be the same as completion rate for simplicity
    progress_rate = completion_rate
    performance_metrics_data["progress_rate"].append(progress_rate)

performance_metrics_df = pd.DataFrame(performance_metrics_data)
print("\nPerformance Metrics Table:")
performance_metrics_df.head()

Performance Metrics Table:

,metric_id,employee_id,course_id,completion_rate,average_score,time_spent,engagement_rate,average_time_to_completion,progress_rate,recorded_at
0,1,EMP027,C03,12.296913,9.888652,76.073613,2.286635,62.331637,12.296913,2024-04-23 08:13:39
1,2,EMP114,C12,4.158830,2.331907,18.358552,2.242070,13.429416,4.158830,2024-06-25 00:16:15
2,3,EMP060,C13,43.315613,40.835176,304.061365,16.137214,251.755803,43.315613,2024-09-06 06:36:52
3,4,EMP176,C15,23.095595,15.318855,41.135361,3.955253,14.877803,23.095595,2024-01-12 12:55:39
4,5,EMP001,C06,60.194685,52.426699,43.938910,2.537090,23.622939,60.194685,2024-05-24 08:21:15

Saving the all tables

In [98]:
employee_df.to_csv('../../data/raw_data/employee_data.csv', index=False)
course_data_df.to_csv('../../data/raw_data/course_data.csv', index=False)
modules_df.to_csv('../../data/raw_data/modules_data.csv', index=False)
enrollment_df.to_csv('../../data/raw_data/enrollment_data.csv', index=False)
enrollment_with_modules_df.to_csv('../../data/raw_data/enrollment_with_modules_data.csv', index=False)
performance_metrics_df.to_csv('../../data/raw_data/performance_metrics_data.csv', index=False)